body{
  background-color: azure;
}

table{
  width: 100%;
}

tr{
  height: 50px;
  text-align: center;
}

th {
  font-weight: normal;
  background-color: lightskyblue;
  padding: 10px;
}

td {
  padding: 10px;
}

.container{
  padding: 0px 20px 20px 20px;
  background-color: white;
}

.article-header{
  border-left: solid 8px lightskyblue;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
}

.frequency {
  text-align: right;
}

.gain {
  text-align: right;
}

#waveform {
  height: 150px;
  width:100%;
  background-color: black;
  margin-bottom: 20px;
}
