body{
  background-color: azure;
}

table{
  width: 100%;
}

tr{
  height: 50px;
  text-align: center;
}

th {
  font-weight: normal;
  background-color: lightskyblue;
  padding: 10px;
}

td {
  padding: 10px;
}

input[type="number"]{
  text-align: right;
}

.container{
  max-width:1500px;
  padding: 0px 20px 20px 20px;
  background-color: white;
}

.article-header{
  border-left: solid 8px lightskyblue;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
}

#main-table thead, tbody {
  display: block;
}

#main-table tbody {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
}

#waveform {
  height: 150px;
  width:100%;
  background-color: black;
  margin-bottom: 20px;
}
